@import "bfriend-mixins";

body {
  font-family: bf-font('pri');
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
a, ul, ul li, ol, ol li, input, textarea, span, p, label, button, th, td, time {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* highlights */
/* ----------------------------------------- */
::selection {
  background-color: $color-pri;
  color: #fff;
}
/* ----------------------------------------- highlights */	

/* elements with transition */
/* ----------------------------------------- */
a, img, input, button {
	@include transition(all 150ms ease-in-out);
	text-decoration: none !important;
}
/* ----------------------------------------- elements with transition */	

/* 	preloader  */
/* ----------------------------------------- */
.preloader {
  position: fixed;
  top: 0; right: 0; left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; height: 100vh;
  z-index: 1050;
  background-color: bf-color('sec');
  
  &__loader {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    > div {
      @include global-animation();
  
      position: absolute;
      left: -20px;
      top: -20px;
      border: 2px solid $color-pri;
      border-bottom-color: transparent;
      border-top-color: transparent;
      width: 35px; height: 35px;
      animation: rotate 1s 0s ease-in-out infinite;
      @include radius(100%);
  
      &:last-child {
        display: inline-block;
        top: -10px; left: -10px;
        width: 15px; height: 15px;
        animation-duration: 0.5s;
        border-color: $color-pri transparent $color-pri transparent;
        animation-direction: reverse;
      }
    }
  }
}
/* ----------------------------------------- 	preloader */

/* acf map container */
/* ----------------------------------------- */
.acf-map {
	height: 400px;
	img {
	  max-width: inherit !important;
	}
}
/* ----------------------------------------- acf map container */	

/* select box */
/* ----------------------------------------- */
.select-box {
	width: 100%;
	position: relative;
	z-index: 2;
	border: 1px solid #D2D2D2;
	
	select {
		width: 100%;
		height: 45px;
	  position: relative;
	  z-index: 2;
	  background: transparent;
	  color: $color-pri;
	  display: inline-block;
	  padding: 0 10px;
	  padding-right: 30px;
	  border: 0;
	  -webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
	  box-sizing: border-box;
	  @include radius(0);
	  
	  &:focus { outline: none; }
	  &:hover { cursor: pointer; }
	}
	
	&::after {
    content: "";
    position: absolute;
    top: 32%; right: 15px;
    flex-shrink: 0;
    width: $accordion-icon-width;
    height: $accordion-icon-width;
    margin-left: auto;
    background-image: escape-svg($accordion-button-icon);
    background-repeat: no-repeat;
    background-size: $accordion-icon-width;
    @include transition($accordion-icon-transition);
  }
}
/* ----------------------------------------- select box */	

/* wp wysiwyg styles */
/* ----------------------------------------- */
.hentry {
	.entry-content {
    img { margin: 0 0 1.5em 0; }
  }
	
	.alignleft, 
  img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	
	.alignright, 
  img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	
	.aligncenter, 
  img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}
	
	.wp-caption {
		margin-bottom: 1.5em;
		text-align: center;
		padding-top: 5px;
		
		img {
			border: 0 none;
			padding: 0;
			margin: 0;
		}
		
		p.wp-caption-text {
			line-height: 1.5;
			font-size: 10px;
			margin: 0;
		}
	}

	.wp-smiley {
		margin: 0 !important;
		max-height: 1em;
	}
	
	blockquote {
    &.left {
      margin-right: 20px;
      text-align: right;
      margin-left: 0;
      width: 33%;
      float: left;
    }
    
    &.right {
      margin-left: 20px;
      text-align: left;
      margin-right: 0;
      width: 33%;
      float: right;
    }
  }
}
/* ----------------------------------------- wp wysiwyg styles */	

/* 	custom full grid  */
/* ----------------------------------------- */
.full-right {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - ((100vw - #{$f-xs}) / 2));
  margin-left: auto;
  
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-12 {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .column-3 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(#{$f-xs} * .20);
      max-width: calc(#{$f-xs} * .20);
    }
  }

  .column-4 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(#{$f-xs} * .35);
      max-width: calc(#{$f-xs} * .35);
    }
  }

  .column-8 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100% - (#{$f-xs} * .35));
      max-width: calc(100% - (#{$f-xs} * .35));
    }
  }

  .column-9 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100% - (#{$f-xs} * .20));
      max-width: calc(100% - (#{$f-xs} * .20));
    }
  }

  @include media-breakpoint-up(sm) { max-width: calc(100vw - ((100vw - 540px) / 2)); }
  @include media-breakpoint-up(md) { max-width: calc(100vw - ((100vw - 720px) / 2)); }
  @include media-breakpoint-up(lg) { max-width: calc(100vw - ((100vw - 960px) / 2)); }
  @include media-breakpoint-up(xl) { max-width: calc(100vw - ((100vw - 1140px) / 2)); }
  @include media-breakpoint-up(xxl) { max-width: calc(100vw - ((100vw - 1320px) / 2)); }
}

.full-left {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - ((100vw - #{$f-xs}) / 2));
  margin-right: auto;
  
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-12
  
  .column-3 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(#{$f-xs} * .20);
      max-width: calc(#{$f-xs} * .20);
    }
  }

  .column-4 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(#{$f-xs} * .35);
      max-width: calc(#{$f-xs} * .35);
    }
  }

  .column-8 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100% - (#{$f-xs} * .35));
      max-width: calc(100% - (#{$f-xs} * .35));
    }
  }

  .column-9 {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(100% - (#{$f-xs} * .20));
      max-width: calc(100% - (#{$f-xs} * .20));
    }
  }

  @include media-breakpoint-up(sm) { max-width: calc(100vw - ((100vw - 540px) / 2)); }
  @include media-breakpoint-up(md) { max-width: calc(100vw - ((100vw - 720px) / 2)); }
  @include media-breakpoint-up(lg) { max-width: calc(100vw - ((100vw - 960px) / 2)); }
  @include media-breakpoint-up(xl) { max-width: calc(100vw - ((100vw - 1140px) / 2)); }
  @include media-breakpoint-up(xxl) { max-width: calc(100vw - ((100vw - 1320px) / 2)); }
}
/* ----------------------------------------- 	custom full grid */