/* 	design system  */
/* ----------------------------------------- */

  .font-pri  { font-family: $font-pri; }

  .font-thin   	{ font-weight: 100; }
  .font-elight  { font-weight: 200; }
  .font-medium  { font-weight: 500; }
  .font-ebold   { font-weight: 800; }
  .font-black   { font-weight: 900; }

  .color-pri { color: $color-pri; }
  .color-sec { color: $color-sec; }
  .color-ter { color: $color-ter; }
  .color-qua { color: $color-qua; }

  .bg-pri { background-color: $color-pri; }
  .bg-sec { background-color: $color-sec; }
  .bg-ter { background-color: $color-ter; }
  .bg-qua { background-color: $color-qua; }

/* ----------------------------------------- 	design system */