/* variables */
/* ----------------------------------------- */
/* ----------------------------------------- variables */
/* general mixins and functions */
/* ----------------------------------------- */
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 1.5em;
  }
}
@keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 1.5em;
  }
}
/* ----------------------------------------- general mixins and functions */
body.login {
  background-color: theme-color("primary");
}
body.login h1 a {
  width: 320px !important;
  height: 90px !important;
  margin: 80px auto 5px;
}
body.login #loginform {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: none;
}
body.login #loginform label {
  color: black;
  font-weight: 500;
}
body.login #loginform #wp-submit {
  border: none;
  background: theme-color("primary") !important;
  box-shadow: none;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 0;
}
body.login #nav, body.login #backtoblog {
  color: #cccccc !important;
  text-align: center;
  padding-left: 0;
}
body.login #nav a, body.login #backtoblog a {
  color: #cccccc !important;
  text-decoration: none;
  text-shadow: none;
}
body.login #nav a:hover, body.login #backtoblog a:hover {
  color: #cccccc !important;
  text-decoration: underline;
}
body.login .button.button-primary {
  background-color: theme-color("primary");
}
